.add-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 313px;
    height: 241px;
    color:  #DEB992;
    border: 2px solid #DEB992;
    border-radius: 8px;
    cursor: pointer;
}
.add-team h1, .add-team p {
    margin: 0;
    user-select: none;
}
.add-team h1 {
    margin: 0;
    font-size: 10rem;
}